<div class="container mt-5 mb-5">

    <h1 class="text-center">Acerca de </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio omnis similique delectus eaque? Magnam earum debitis rerum delectus error sapiente, suscipit sint perspiciatis beatae cum veniam, quisquam, laboriosam itaque!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quod corporis qui adipisci quae quos ratione, praesentium voluptatum ipsa ipsam officia sunt ex eius cum animi nulla nobis recusandae necessitatibus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ducimus doloribus qui tenetur fugit consequuntur repellendus error aperiam ut ea dolorum assumenda vero temporibus impedit perferendis! Aspernatur, eaque modi? Repellendus?
   
    <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio omnis similique delectus eaque? Magnam earum debitis rerum delectus error sapiente, suscipit sint perspiciatis beatae cum veniam, quisquam, laboriosam itaque!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quod corporis qui adipisci quae quos ratione, praesentium voluptatum ipsa ipsam officia sunt ex eius cum animi nulla nobis recusandae necessitatibus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ducimus doloribus qui tenetur fugit consequuntur repellendus error aperiam ut ea dolorum assumenda vero temporibus impedit perferendis! Aspernatur, eaque modi? Repellendus?
    <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio omnis similique delectus eaque? Magnam earum debitis rerum delectus error sapiente, suscipit sint perspiciatis beatae cum veniam, quisquam, laboriosam itaque!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quod corporis qui adipisci quae quos ratione, praesentium voluptatum ipsa ipsam officia sunt ex eius cum animi nulla nobis recusandae necessitatibus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ducimus doloribus qui tenetur fugit consequuntur repellendus error aperiam ut ea dolorum assumenda vero temporibus impedit perferendis! Aspernatur, eaque modi? Repellendus?
    <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio omnis similique delectus eaque? Magnam earum debitis rerum delectus error sapiente, suscipit sint perspiciatis beatae cum veniam, quisquam, laboriosam itaque!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quod corporis qui adipisci quae quos ratione, praesentium voluptatum ipsa ipsam officia sunt ex eius cum animi nulla nobis recusandae necessitatibus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ducimus doloribus qui tenetur fugit consequuntur repellendus error aperiam ut ea dolorum assumenda vero temporibus impedit perferendis! Aspernatur, eaque modi? Repellendus?
    <br/>
</p>
</div>
